
@{
    Layout = null;
}

<form id="forgot" class="forgot-form">
    <input type="email" placeholder="email" />
    <button>Send</button>
    <p class="message">Already registered? <a id="signin2" style="font-weight:bold" href="#">Sign In</a></p>
    <p class="message">Not registered? <a id="create3" style="font-weight:bold" href="#">Create an account</a></p>
</form>
