
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/System/Views/Shared/_SystemLayoutPage.cshtml";
}
<section class="content-header">
    <h1>
        Company List
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Company Management</li>
    </ol>
</section>
<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <!-- /.box-header -->
                <div class="box-body">
                    <div class="col-sm-12 col-lg-12 col-xs-12 col-md-12">
                        <form class="form-inline">
                            <div class="form-group">
                                <input style="width:100%" type="text" class="form-control" placeholder="Search">
                            </div>
                        </form>
                        <br />
                    </div>
                    <table id="example1" class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>No.</th>
                                <th>Company Name</th>
                                <th>Date Created</th>
                                <th>Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td>CSC</td>
                                <td>
                                    05/03/2017
                                </td>
                                <td>
                                    <a href="#" data-href="#" data-toggle="modal" data-target="#confirm-disable">Disable</a>
                                </td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>Vinasun</td>
                                <td>
                                    06/03/2017
                                </td>
                                <td>
                                    <a href="#" data-href="#" data-toggle="modal" data-target="#confirm-disable">Disable</a>
                                </td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td>Vinafool</td>
                                <td>
                                    26/03/2017
                                </td>
                                <td>
                                    <a href="#" data-href="#" data-toggle="modal" data-target="#confirm-disable">Disable</a>
                                </td>
                            </tr>
                            <tr>
                                <td>4</td>
                                <td>Vinafool</td>
                                <td>
                                    26/03/2017
                                </td>
                                <td>
                                    <a href="#" data-href="#" data-toggle="modal" data-target="#confirm-disable">Disable</a>
                                </td>
                            </tr>
                            <tr>
                                <td>5</td>
                                <td>Vinafool</td>
                                <td>
                                    26/03/2017
                                </td>
                                <td>
                                    <a href="#" data-href="#" data-toggle="modal" data-target="#confirm-disable">Disable</a>
                                </td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <td>No.</td>
                                <th>Company Name</th>
                                <th>Date Created</th>
                                <th>Status</th>
                            </tr>
                        </tfoot>
                    </table>
                    <div class="col-sm-5"><div class="dataTables_info" id="example1_info" role="status" aria-live="polite">Showing 1 to 5 of 57 entries</div></div>
                    <div class="col-sm-7"><div class="dataTables_paginate paging_simple_numbers" id="example1_paginate"><ul class="pagination"><li class="paginate_button previous disabled" id="example1_previous"><a href="#" aria-controls="example1" data-dt-idx="0" tabindex="0">Previous</a></li><li class="paginate_button active"><a href="#" aria-controls="example1" data-dt-idx="1" tabindex="0">1</a></li><li class="paginate_button "><a href="#" aria-controls="example1" data-dt-idx="2" tabindex="0">2</a></li><li class="paginate_button "><a href="#" aria-controls="example1" data-dt-idx="3" tabindex="0">3</a></li><li class="paginate_button "><a href="#" aria-controls="example1" data-dt-idx="4" tabindex="0">4</a></li><li class="paginate_button "><a href="#" aria-controls="example1" data-dt-idx="5" tabindex="0">5</a></li><li class="paginate_button "><a href="#" aria-controls="example1" data-dt-idx="6" tabindex="0">6</a></li><li class="paginate_button next" id="example1_next"><a href="#" aria-controls="example1" data-dt-idx="7" tabindex="0">Next</a></li></ul></div></div>
                </div>

                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</section>

