
@{
    ViewBag.Title = "SetYourPassword";
    Layout = "~/Areas/Company/Views/Shared/_RegisterClientLayout.cshtml";
}

<div class="col-lg-4 col-lg-offset-4">
    <h1 style="margin-bottom:40px;text-transform:none;">Set your password</h1>
    <h4 style="color:gray;text-transform:none;margin-bottom:40px;">
        Choose a password for signing in to APMT
    </h4>

    <form class="form-inline a_registercompany">
        <h4 style="text-align:left;text-transform:none">Password</h4>
        <div class="form-group">
            <input style="height:40px;" type="password" class="form-control" id="password" placeholder="Password" size="46">
        </div>
        <p style="text-align:left;text-transform:none;color:#BBBBBB;font-size:14px;padding-top:10px">Passwords must be at least 6 characters long and can't be thing.</p>
        <a style="background-color:#FEC136;border-color:#FEC136" href="@Url.Action("AboutYourTeam4","GeneralSetting")" class="btn btn-xl btn-lg" role="button">
            Continue to Team Info
            <i class="fa fa-arrow-right" aria-hidden="true">
            </i>
        </a>
    </form>
</div>


