
@{
    ViewBag.Title = "MB_ContentGUI";
    Layout = "~/Areas/Company/Views/Shared/_ClientLayoutPage.cshtml";
}


<center>
    <h3>Gather Information	</h3>
</center>
<div class="box-body">
    <div class="form-group">
        <center>
            <label>References<strong style="color:#990000"> ABC.docx</strong></label><br />
            <a href="">Dowload File</a>
        </center>
    </div>

    <div class="form-group">
        <center>
            <div class="form-group">
                <label for="exampleInputFile">Target Date</label>
                <input type='text' class="form-control text-center" id='datetimepicker' style="width:10%" placeholder="07/03/2017" disabled />
            </div>


            <!-- Single button -->
            <br />
            <label for="comment">Content:</label>
            <textarea class="form-control" rows="20" id="comment" style="width:30%"></textarea>
            <label for="exampleInputFile">Status</label><br />
            <div class="form-group">

                <div class="dropdown">
                    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        Doing
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu text-center" aria-labelledby="dropdownMenu1">

                        <li><a href="#">Finish</a></li>
                    </ul>
                </div>
            </div>
            <label for="comment">Comment:</label>
            <textarea class="form-control" rows="5" id="comment" style="width:30%"></textarea>
        </center>
    </div>
    <center>
        <a class="btn btn-primary btn-lg" href="@Url.Action("ListActivity","RunProcess")" role="button">Save</a>
        <a class="btn btn-default btn-lg" href="@Url.Action("ListActivity","RunProcess")" role="button">Cancel</a>
    </center>
</div>



