
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Company/Views/Shared/_ClientLayoutPage.cshtml";
}
<h1>Requirement Process</h1>
<div class="box box-primary" style="height:50%">
    <h3><span><a href="#" data-toggle="modal" data-target="#StepModal">Elicitation</a>-><a href="#" data-toggle="modal" data-target="#StepModalSubProcess">Analysis</a>-><a href="#" data-toggle="modal" data-target="#StepModalNormal">Specification</a>-><a href="#">Vadidation</a></span></h3>
</div>
<div class="modal fade" tabindex="-1" role="dialog" id="StepModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Elicitation</h4>
            </div>
            <div class="modal-body">
           
                    <div class="form-group">
                        <div class="form-group">
                            <label for="exampleInputFile">Description :</label>
                            <br />
                       <label>This is a explore all requirement of Customer both they want and they need </label>
                        </div>
                        <div class="form-group">
                            <label for="exampleInputFile">List Activities :</label>
                            <br />
                           <a href="#" data-toggle="modal" data-target="#ActivityModal">Meeting Customer</a><br />
                            <a href="#" data-toggle="modal" data-target="#ActivityModal">Repair questions</a><br />
                            <a href="#" data-toggle="modal" data-target="#ActivityModal">Brainstoming</a>
                        </div>
                    </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="modal fade" tabindex="-1" role="dialog" id="StepModalSubProcess">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Analysis - SubProcess</h4>
            </div>
            <div class="modal-body">
             
                <div class="form-group">
                    <label for="exampleInputFile">Assign Leader:</label>
                    <div class="dropdown">
                        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                            Choose a name
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                            <li><a href="#">teocute9x@gmail.com</a></li>
                            <li><a href="#">ti9xhero@gmail.com</a></li>
                            <li><a href="#">nguyenvanti2008@gmail.com</a></li>
                            <li role="separator" class="divider"></li>
                        </ul>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputFile">Description :</label>
                        <br />
                        <label>This is a explore all requirement of Customer both they want and they need </label>
                    </div>
                    <h4><span><a href="#" >Read Requirement Document</a>-><a href="#">Classes Requirement</a>-><a href="#">Document Requirement Clearly</a></span></h4>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="modal fade" tabindex="-1" role="dialog" id="StepModalNormal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Specification - Normal</h4>
            </div>
            <div class="modal-body">

                <div class="form-group">
                    <label for="exampleInputFile">Assign to:</label>
                    <div class="dropdown">
                        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                            Choose a name
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                            <li><a href="#">teocute9x@gmail.com</a></li>
                            <li><a href="#">ti9xhero@gmail.com</a></li>
                            <li><a href="#">nguyenvanti2008@gmail.com</a></li>
                            <li role="separator" class="divider"></li>
                        </ul>
                    </div>
                </div>
                <div class="form-group">
                    <label for="exampleInputFile">Description :</label>
                    <br />
                    <label>This is a explore all requirement of Customer both they want and they need </label>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<!--modal Activity-->
<div class="modal fade" tabindex="-1" role="dialog" id="ActivityModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Elicitation - Meeting Customer</h4>
            </div>
            <div class="modal-body">

                <div class="form-group">
                    <label for="exampleInputFile">Assign to:</label>
                    <div class="dropdown">
                        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                            Choose a name
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                            <li><a href="#">teocute9x@gmail.com</a></li>
                            <li><a href="#">ti9xhero@gmail.com</a></li>
                            <li><a href="#">nguyenvanti2008@gmail.com</a></li>
                            <li role="separator" class="divider"></li>
                        </ul>
                    </div>
                </div>
                <div class="form-group">
                    <label for="exampleInputFile">Description :</label>
                    <br />
                    <label>This is a explore all requirement of Customer both they want and they need </label>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->



