
@{
    ViewBag.Title = "Invitation";
    Layout = "~/Areas/Company/Views/Shared/_RegisterClientLayout.cshtml";
}
<div class="col-lg-5 col-lg-offset-4">
    <h1 style="margin-bottom:40px;text-transform:none;">Send Invitations</h1>
    <h4 style="color:gray;text-transform:none;margin-bottom:40px;">
        Your APMT company is ready to go. Know a few friends or coworkers who’d like to explore APMT with you?
    </h4>
    <form class="form-inline a_registercompany">
        <h4 style="text-align:left;text-transform:none">Email address</h4>
        <div class="form-group">
            <input style="height:40px;margin-bottom:10px;" type="text" class="form-control" id="password" placeholder="name@example.com" size="50">
        </div><br />
        <div class="form-group">
            <input style="height:40px;margin-bottom:10px;" type="text" class="form-control" id="password" placeholder="name@example.com" size="50">
        </div><br />
        <div class="form-group">
            <input style="height:40px;margin-bottom:10px;" type="text" class="form-control" id="password" placeholder="name@example.com" size="50">
        </div><br />
        <a style="margin-top:40px" href="~/Home/Index" class="btn btn-default btn-lg" role="button">
            Skip For Now
        </a>
        <a style="background-color:#FEC136;border-color:#FEC136;margin-top:40px" href="~/Home/Index" class="btn btn-xl btn-lg" role="button">
            Send Invitations
        </a>
    </form>
</div>
